@media screen and (max-width: 548px) {
  .information__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width:548px) {
  .information__main {
    padding-bottom: 100px;
  }
}