@media screen and (max-width:768px) {
  .header-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: 100%;
    background-color: rgba(0, 0, 0, .9);
    padding-top: 100px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
}