.about__container{
 /*  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  background: transparent;
	background-image: linear-gradient(to right bottom, rgba(0,0,0,.1)50%, rgba(219, 219, 219, 0.2)100%);
	opacity: 0.8; 
}