.information__title_small {
  display: block;
  color: aliceblue;
  font-size: 25px;
}

@media screen and (max-width:768px) {
  .information__title_small {
    font-size: 18px;
  }
}

@media screen and (max-width: 548px) {
  .information__title_small {
    text-align: center;
  }
}