.information {
  width: calc(100% - 50px);
  margin: auto;
  position: relative;
  display: flex;
  padding: 93px 0 166px 0;
  justify-content: space-between;
}

@media screen and (max-width:1024px) {
  .information {
    padding-bottom: 200px;
  }
}

@media screen and (max-width:824px) {
  .information {
    width: calc(100% - 50px);
  }
}

@media screen and (max-width:820px) {
  .information {
    padding-bottom: 224px;
  }
}

@media screen and (max-width:768px) {
  .information {
    padding-bottom: 248px;
  }
}

@media screen and (max-width: 548px) {
  .information {
    flex-direction: column;
    padding-bottom: 60px;
  }
}